.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 20;
}

.nav-left,
.nav-right {
  display: flex;
  padding: 0 20px;
  gap: 20px;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  margin-left: auto;
}

h1 {
  text-align: center;

  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.menu-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}

.menu-link:hover {
  color: #ff9800;
}

.menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #ff9800;
  transition: width 0.3s ease;
}

.menu-link:hover::after {
  width: 100%;
}

.menu-link:focus::after,
.menu-link:active::after {
  width: 100%;
}

.logo {
  font-family: "Calligraffitti", sans-serif;
}

.logo-img {
  height: 60px;
  width: auto;
  display: block;
  margin: 0 auto;
}

/* Burger menu */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Burger menu et menu mobile */
.mobile-menu {
  display: none;
}

/* Tablettes / écrans moyens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav-left,
  .nav-right {
    gap: 15px; /* réduire l'espace entre les liens */
  }

  .menu-link {
    font-size: 18px; /* réduire légèrement la taille du texte */
  }

  h1 {
    font-size: 1.3rem;
  }

  .burger {
    display: none; /* burger toujours caché */
  }
}

@media screen and (max-width: 768px) {
  .nav-left,
  .nav-right {
    display: none; /* desktop links hidden only on mobile */
  }

  h1 {
    font-size: 1rem;
    padding-left: 20px;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 30;
  }

  .mobile-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    padding-right: 20px;
  }

  .burger .line {
    width: 25px;
    height: 3px;
    background-color: white;
  }
}
