/* Desktop large - par défaut */
.header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.my-swiper {
  height: 100%;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 3rem;
  text-align: center;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 15px;
}

.slider-title h1 {
  margin: 0;
}

/* Tablette (768px - 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: 70vh; /* Réduit la hauteur pour mieux cadrer l'image */
  }

  .slider-title {
    font-size: 2.2rem;
  }

  .slide-image {
    height: 100%;
    object-fit: cover;
  }
}

/* Mobile (moins de 768px) */
@media screen and (max-width: 767px) {
  .header {
    height: 50vh; /* Hauteur plus petite pour mobile */
  }

  .slider-title {
    font-size: 1.5rem;
  }

  .slider-title h1 {
    line-height: 1.2;
    padding: 0res;
  }

  .slide-image {
    height: 100%;
    object-fit: cover;
  }
}
