.portrait-header {
  height: 100vh;
  background-image: url(../../assets/images/portraitHeader.webp);
  background-size: cover;
  background-position: top;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.portrait-header-content {
  max-width: 800px;
}

.portrait-header-subtitle {
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .portrait-header {
    height: 80vh;
  }

  .portrait-header-content {
    max-width: 700px;
  }

  .portrait-header-subtitle {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .portrait-header {
    height: 70vh;
  }
  .portrait-header-content {
    max-width: 90%;
  }

  .portrait-header-subtitle {
    font-size: 0.9rem;
  }
}
